<!DOCTYPE>
<html lang="en">

<head>
</head>

<body>
	<form action=" /StoreDemo/admin/category/add" method="POST">
		<div class="modal-header">
			<h4 class="modal-title">Thêm hạng mục</h4>
		</div>
		<div class="modal-body">
			<div class="form-group">
				<label>Tên hạng mục</label> <input type="text" class="form-control" name="name" required />
			</div>
		</div>
		<div class="modal-footer">
			<a href="/StoreDemo/admin/category/search" class="btn btn-default">Huỷ</a> <input type="submit"
				class="btn btn-success" value="Thêm" />
		</div>
	</form>
</body>

</html>